### importing the necessary packages

In [0]:
import pandas as pd
import numpy as np

##Loading the data set to dataframe

In [0]:
df1=pd.read_csv("https://raw.githubusercontent.com/gururajnadigcn/datascience/main/ipl_ball_by_ball.csv")
df2=pd.read_csv("https://raw.githubusercontent.com/gururajnadigcn/datascience/main/ipl_matches.csv")
df3=pd.read_csv("https://raw.githubusercontent.com/gururajnadigcn/datascience/main/ipl_venue.csv")

## showing the contents of the dataframes

In [0]:
df1.head()

,match_id,inning,overs,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,419157,2,16,4,V Kohli,R Vinay Kumar,CRD Fernando,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
1,419157,2,16,5,V Kohli,R Vinay Kumar,CRD Fernando,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
2,419157,2,16,6,R Vinay Kumar,V Kohli,CRD Fernando,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
3,419157,2,17,1,R Vinay Kumar,V Kohli,R McLaren,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
4,419157,2,17,2,V Kohli,R Vinay Kumar,R McLaren,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians

In [0]:
df2.head()

,match_id,date,player_of_match,venue_id,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,2008-04-18,BB McCullum,35,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2008-04-19,MEK Hussey,31,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,2008-04-19,MF Maharoof,27,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2008-04-20,MV Boucher,14,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,2008-04-20,DJ Hussey,15,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [0]:
df3.head()

,venue_id,venue,city
0,1,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Visakhapatnam
1,2,Sharjah Cricket Stadium,Sharjah
2,3,JSCA International Stadium Complex,Ranchi
3,4,Saurashtra Cricket Association Stadium,Rajkot
4,5,Shaheed Veer Narayan Singh International Stadium,Raipur

##a. Write a query to get the dismissal types with count.

In [0]:
df1['dismissal_kind'].value_counts()

a) dismissal types with count results is mentioned above

##b. Write a query to get list of ten fielders (fielder and count of catches) with the greatest number of catches.

In [0]:
#df1.replace(np.nan,0)
fielder_top_ten = df1[['dismissal_kind','fielder']]
fielder_top_ten.groupby(['dismissal_kind','fielder'])['fielder'].count().head(10)

b. The list of ten fielders with greatest number of catches

##c. Make a listing of team and the number of sixes (6s) scored by each team.

In [0]:
boundaries=df1.loc[(df1['total_runs'] == 6) | (df1['total_runs'] == 4)]
boundaries.head(10)

,match_id,inning,overs,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
9,419157,2,18,1,V Kohli,R Vinay Kumar,KA Pollard,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
43,419157,2,3,4,JH Kallis,MK Pandey,Z Khan,6,0,6,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
46,419157,2,4,1,MK Pandey,JH Kallis,CRD Fernando,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
49,419157,2,4,4,MK Pandey,JH Kallis,CRD Fernando,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
92,1216505,1,11,5,V Kohli,D Padikkal,AR Patel,6,0,6,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals
96,1216505,1,10,2,V Kohli,D Padikkal,K Rabada,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals
116,1216505,1,2,3,JR Philippe,D Padikkal,DR Sams,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals
122,1216505,1,3,2,D Padikkal,JR Philippe,A Nortje,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals
132,419157,2,7,2,R Dravid,KP Pietersen,KA Pollard,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians
133,1216505,1,4,3,D Padikkal,V Kohli,K Rabada,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals

C. Listing of team and the number of sixes

##d. Write a query to find total runsscored by the batsman for each team he played. (Assume all players are batsman)

In [0]:
batsman = df1[['batsman','batsman_runs','batting_team']]

In [0]:
batsman

,batsman,batsman_runs,batting_team
0,V Kohli,0,Royal Challengers Bangalore
1,V Kohli,1,Royal Challengers Bangalore
2,R Vinay Kumar,1,Royal Challengers Bangalore
3,R Vinay Kumar,1,Royal Challengers Bangalore
4,V Kohli,1,Royal Challengers Bangalore
...,...,...,...
193463,EJG Morgan,6,Kolkata Knight Riders
193464,EJG Morgan,2,Kolkata Knight Riders
193465,EJG Morgan,0,Kolkata Knight Riders
193466,EJG Morgan,2,Kolkata Knight Riders
193467,EJG Morgan,0,Kolkata Knight Riders

In [0]:
batsman.groupby(['batsman','batting_team'])['batsman_runs'].sum()

d.Total number of runs scored by batsman

##e. Write a query to get match_Id, Man of the match and runs scored by man of the match.

## -->merging the dataframe

In [0]:
merged_data = pd.merge(df1, df2, how='inner', on='match_id')
merged_data.columns
merged_data.head(10)

,match_id,inning,overs,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,date,player_of_match,venue_id,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,419157,2,16,4,V Kohli,R Vinay Kumar,CRD Fernando,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
1,419157,2,16,5,V Kohli,R Vinay Kumar,CRD Fernando,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
2,419157,2,16,6,R Vinay Kumar,V Kohli,CRD Fernando,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
3,419157,2,17,1,R Vinay Kumar,V Kohli,R McLaren,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
4,419157,2,17,2,V Kohli,R Vinay Kumar,R McLaren,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
5,419157,2,17,3,R Vinay Kumar,V Kohli,R McLaren,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
6,419157,2,17,4,R Vinay Kumar,V Kohli,R McLaren,0,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
7,419157,2,17,5,R Vinay Kumar,V Kohli,R McLaren,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
8,419157,2,17,6,V Kohli,R Vinay Kumar,R McLaren,1,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel
9,419157,2,18,1,V Kohli,R Vinay Kumar,KA Pollard,4,0,4,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,2010-04-17,R McLaren,35,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,Mumbai Indians,runs,57.0,N,NaN,HDPK Dharmasena,SJA Taufel

In [0]:
new_merged= merged_data[['match_id','batsman_runs','batsman','player_of_match']]
new_merged.groupby(['match_id','player_of_match','batsman'])['batsman_runs'].sum()

e.query to get match_Id, Man of the match and runs scored by man of the match

##f. Write a query to get list of team and boundary scored when the team won the toss and decided to bat first. (boundary includes 4s and 6s)

In [0]:
match_merged = merged_data[['match_id','toss_winner','toss_decision','total_runs','non_boundary']]
match_merged = match_merged[match_merged['toss_decision']=='bat']
match_merged = match_merged[(match_merged['total_runs']==4) | (match_merged['total_runs']==6)]

In [0]:
match_merged

,match_id,toss_winner,toss_decision,total_runs,non_boundary
1686,419158,Rajasthan Royals,bat,4,0
1687,419158,Rajasthan Royals,bat,4,0
1691,419158,Rajasthan Royals,bat,6,0
1704,419158,Rajasthan Royals,bat,4,0
1705,419158,Rajasthan Royals,bat,4,0
...,...,...,...,...,...
193188,829725,Kings XI Punjab,bat,4,0
193194,829725,Kings XI Punjab,bat,4,0
193203,829725,Kings XI Punjab,bat,4,0
193213,829725,Kings XI Punjab,bat,4,0
193221,829725,Kings XI Punjab,bat,4,0

In [0]:
match_merged['total_runs']=1
match_merged.groupby(['match_id','toss_winner','non_boundary'])['total_runs'].sum()

f.Total number of boundaries scored when the team won the toss and decided to bat first

##g. Write a query to return a report for Venue and City and average runs scored per match in powerplay in 1st inning. [powerplay means 1 to 6th Over including 6th Over]

In [0]:
merged_data1 = pd.merge(df1,df2, how='inner', on='match_id')
merged_data2 = pd.merge(merged_data1,df3, how='inner', on='venue_id')

In [0]:
venue_data=merged_data2[['venue','city','total_runs','match_id','overs']]
venue_data=venue_data[venue_data['overs']<7]

In [0]:
venue_data.groupby(['venue','city'])['total_runs'].sum()

g.report for Venue and City and average runs scored per match in powerplay in 1st inning.